body{
    margin: 0px;
    font-family: 'Uchen', serif;
}
h1{
    font-size: 45px;
}
h2{
    font-weight: 10000;
}
#head{
    display: flex;
    background-image: -webkit-linear-gradient(red,orange);
}

.head-option{
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    width: 20%;
    text-align: center;
    padding-top: 25px;
}
.orange{
    color: orange;
}


.flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
}
.batton{
    background-image: linear-gradient(red,yellow);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}
.second{
    text-align: justify;
    background-repeat: no-repeat;
}
.third{
    text-align: justify;
    background-image: url(images/bg/7.png);
    background-repeat: no-repeat;
}
.fourth{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.fifth{
    margin-left: 15%;
    margin-right: 15%;
}
.box{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    height: 670px;
    width: 25%;
    border-radius: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}
.boximg{
    height: 320px;
    width: 100%;
    padding-top: 15px;
}
.marzin{
    margin-right:  50px;
}
.marzin2{
    margin-left: 12.5%;
    margin-right:  4%;
}
#sixth{
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 20px;
    padding-right: 20px;
    border: 2px solid black;
    background-color: skyblue;
}
.boldtext{
    font-size: xx-large;
    font-weight: bolder;
}
.sixthparts{
    width: 33%;
    text-align: center;
}
#seventh{
    padding-top: 20px;
    padding-right: 20px;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}
.whitetext{
    color:snow;
}